{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }} <!-- Menu -->
    <li>/</li>
    <li><a href="{% url 'accounts:edit' %}">Editar Conta</a></li> <!-- redirenciona para url de edição -->
{% endblock %}

{% block dashboard_content %}
<form class="pure-form pure-form-stacked" method="post">
    {% csrf_token %} 
    <fieldset>
        {{ form.non_field_errors }} <!-- Erros que não envolve registro do forms -->
        {% for field in form %} <!-- Para cada campo do form -->
        <div class="pure-control-group">
            {{ field.label_tag }} <!-- Informa nome do campo -->
            {{ field }}           <!-- Informa valor do campo -->
            {{ field.errors }}    <!-- Verifica se o valor do campo está errado -->
        </div>
        {% endfor %}
        <!-- Botão para realizar as alterações -->
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Salvar Modificações</button>
        </div>
    </fieldset>
</form>
{% endblock %}